extends layout

block content
  .container
    h1 Welcome to Task Manager
    p Manage your daily tasks efficiently.
    .actions
      a.button(href="/login") Login
      a.button(href="/register") Register
