extends layout

block content
  .form-container
    h2 Register
    form#register-form
      label(for="name") Name
      input#name(type="text" required)
      label(for="email") Email
      input#email(type="email" required)
      label(for="password") Password
      input#password(type="password" required)
      label(for="confirmPassword") Confirm Password
      input#confirmPassword(type="password" required)
      button(type="submit") Register
    p
      | Already have an account?
      a(href="/login") Login here
